.shop-pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  color: var(--color-dark);
}

.shop-pets .title {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.shop-pets .pet-card {
  max-width: 352px;
}

.pet-card {
  background-color: var(--color-light);
  border-radius: 5px;
}

.pet-card .image {
  width: 100%;
}

.pet-card .content {
  text-align: center;
  padding: 30px 0;
  pointer-events: none;
}

.pet-card .name {
  font-size: var(--size-medium-text);
  margin-bottom: 16px;
}

.pet-card .text {
  font-size: var(--size-small);
  font-weight: 600;
  opacity: 0.5;
}
