.home-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 127px;
}

.home-woman {
  flex-basis: 38%;
  width: 50%;
  height: 50%;
}

.home-content .home-text {
  flex-basis: 38%;
}

.home-content .home-text > h1 {
  color: #2a2c2f;
  font-size: 6rem;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 25px;
}

.home-text > p {
  font-size: 1.6rem;
  line-height: 30px;
  margin-bottom: 45px;
}

.home-text span {
  color: #248eb6;
}

.home-text > button {
  background-color: #248eb6;
  color: #fafafa;
  width: 140px;
  height: 42px;
  border-radius: 25px;
  border: none;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-text .btn-icon {
  width: 18px;
}
