.main-text {
  margin: 30px auto;
  max-width: 492px;
  text-align: center;
  color: var(--color-dark);
  pointer-events: none;
}

.main-text .our {
  font-size: var(--size-medium);
}

.main-text .all {
  font-size: var(--size-big-title);
  font-weight: 500;
  margin-top: 15px;
}
