.our-vets {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  justify-content: center;
}

.our-vets .title {
  margin-bottom: 30px;
  text-align: center;
  flex-basis: 100%;
}

.vets-info {
  width: 30%;
  text-align: center;
  background-color: var(--color-light);
  border-radius: 5px;
  padding-bottom: 30px;
}

.vets-info .image {
  width: 100%;
}

.vets-info .content h1 {
  font-size: var(--size-medium-text);
}

.vets-info .content p {
  margin: 18px auto;
  width: 75%;
  font-weight: 600;
  font-size: var(--size-small);
  line-height: 25px;
  opacity: 0.5;
  pointer-events: none;
}
