.home-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 127px;
}

.home-content .home-text {
  flex-basis: 40%;
}

.home-content .home-text > h1 {
  color: var(--color-dark);
  font-size: var(--size-big-home-text);
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 25px;
}

.home-text > p {
  font-size: var(--size-small);
  line-height: 30px;
  margin-bottom: 45px;
  pointer-events: none;
}

.home-text span {
  color: var(--color-secondary);
}

.home-text .press-it {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  width: 140px;
  height: 42px;
  border-radius: 25px;
  border: none;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-text .btn-icon {
  width: 18px;
}
