.client-review {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-bottom: 100px;
}

.client-review .title {
  text-align: center;
  flex-basis: 100%;
}

.feed-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 32%;
  height: 500px;
  background-color: var(--color-light);
  padding-bottom: 20px;
  border-radius: 15px;
}

.feed-back .client {
  width: 40%;
  pointer-events: none;
}

.feed-back .content {
  text-align: center;
  font-size: var(--size-mall-text);
  max-width: 200px;
  font-weight: 500;
  pointer-events: none;
}

.feed-back .text {
  line-height: 18px;
  margin: 40px 0 8px 0;
}

.feed-back .name {
  margin-top: 30px;
}
