.navigation-bar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
  font-size: 1.6rem;
}

.nav-bar .sign-up > a {
  background-color: #248eb6;
  color: #fafafa;
  border-radius: 5px;
}

.active {
  background-color: #fafafa;
}

.menu span {
  display: block;
  width: 27px;
  height: 0.3rem;
  margin: 0.3rem 0;
  background: #2a2c2f;
}

#menu {
  display: none;
}

#checkBox {
  display: none;
}
