@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-dark);
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%;
}

h1 {
  font-size: var(--size-big-title);
  font-weight: 500;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: #2a2c2f;
}

button {
  cursor: pointer;
}
