.main-content {
  margin-top: 150px;
}

.main-text {
  margin: 30px auto;
  max-width: 492px;
  text-align: center;
  color: #2a2c2f;
}

.main-text .our {
  font-size: 21px;
}

.main-text .all {
  font-size: 38px;
  font-weight: 500;
  margin-top: 15px;
}

.animal-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3px;
  width: 300px;
  align-content: center;
}

.animal-image {
  width: 100%;
  margin: 0 auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.card-content .card-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #248eb6;
}

.card-content .card-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 15px;
  color: #2a2c2f;
}

.first-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background-color: #fff;
  padding: 10px 0;
}

.main-woman {
  width: 50%;
  flex-basis: 30%;
}

.agency-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  gap: 50px;
}

.agency-text {
  font-weight: 600;
  color: #2a2c2f;
}

.agency-text .title {
  font-size: 3.8rem;
  max-width: 320px;
  color: #248eb6;
  line-height: 55px;
}

.agency-text .text {
  font-size: 1.8rem;
  max-width: 380px;
  line-height: 40px;
  margin: 15px 0;
}

.agency-check {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.agency-check .check {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.4rem;
}

.agency-check .icon {
  width: 12%;
}

.shop-pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #2a2c2f;
}

.shop-pets .title {
  flex-basis: 100%;
  text-align: center;
  font-size: 3.8rem;
  margin-bottom: 30px;
}

.shop-pets .pet-card {
  max-width: 352px;
}

.pet-card {
  background-color: #fff;
  border-radius: 5px;
}

.pet-card .image {
  width: 100%;
}

.pet-card .content {
  text-align: center;
  padding: 30px 0;
}

.pet-card .name {
  font-size: 2.8rem;
  margin-bottom: 16px;
}

.pet-card .text {
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.5;
}

.pet-foods {
  padding: 100px 0;
}

.pet-foods .title {
  text-align: center;
  margin-bottom: 30px;
}

.pet-foods .cards {
  display: grid;
  gap: 12px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.pet-foods .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0 8px 0;
  border-radius: 5px;
}

.pet-foods .image {
  width: 40%;
  margin-bottom: 55px;
}

.pet-foods .price {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.pet-foods .btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  gap: 8px;
}

.pet-foods .btns button:first-child {
  background-color: #248eb6;
  border: none;
  color: #fff;
  border-radius: 5px;
  height: 30px;
}

.pet-foods .btns button:nth-child(2) {
  background-color: #d1ebf5;
  border: none;
  color: #248eb6;
  border-radius: 5px;
  height: 30px;
}

.our-vets {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  justify-content: center;
}

.our-vets .title {
  margin-bottom: 30px;
  text-align: center;
  flex-basis: 100%;
}

.vets-info {
  width: 30%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 30px;
}

.vets-info .image {
  width: 100%;
}

.vets-info .content h1 {
  font-size: 2.8rem;
}

.vets-info .content p {
  margin: 18px auto;
  width: 75%;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 25px;
  opacity: 0.5;
}

.our-services {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 100px 0;
}

.our-services .first-title {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.our-services .content {
  background-color: #fff;
  text-align: center;
  padding: 30px 50px;
  max-width: 252px;
  border-radius: 5px;
}

.our-services .icon {
  width: 40%;
  margin-bottom: 10px;
}

.text-content .title {
  font-size: 1.7rem;
  font-weight: 600;
}

.text-content .text {
  font-size: 1.4rem;
  opacity: 0.5;
  padding: 15px 0;
  font-weight: 700;
  line-height: 20px;
}

.client-review {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.client-review .title {
  text-align: center;
  flex-basis: 100%;
}

.feed-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 33%;
  background-color: #fff;
  padding: 40px 0 100px 0;
  border-radius: 15px;
}

.client-review .feed-back:nth-child(2) {
  max-width: 32%;
}

.client-review .feed-back:nth-child(4) {
  max-width: 32%;
}

.feed-back .client {
  width: 70%;
}

.feed-back .content {
  text-align: center;
  font-size: 1.2rem;
  max-width: 200px;
  font-weight: 500;
}

.feed-back .text {
  line-height: 18px;
  margin: 40px 0 8px 0;
}

.feed-back .name {
  margin-top: 30px;
}
